<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Weather Hub | Weather Forcasting </title>
    <link rel="preload" href="css/styles.css" as="style">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

  </head>
  <body>

    <h1>Weather Hub</h1>

    <div class="currentWeather">
      <p class="cur-city-temp"><%= currentData.temperature+"°" %> </p>
      <p class="cityName" ><%= currentData.cityName %></p>
      <img class="cur-weather-img" src=<%= currentData.iconURL %> alt="">
      <p class="cur-time"><%=currentData.datetime %></p>
      <p id="description"><%=currentData.description%></p>
    </div>


    <div class="right-panel">
      <div class="search-bar">
        <form class="" action="/" method="post">
          <input class="search" type="text" name="cityName" value="" placeholder="type any City">
          <button class="search-btn" type="submit" name="submit"><i class="fa-solid fa-magnifying-glass fa-2x"></i></button>
          <% recents.forEach(function(item){ %>
            <button class="recents-btn" type="submit" name="btn" value=<%= item %> ><%= item %></button><br>
          <% }) %>
        </form>
      </div>
      <hr>
      <h4>Weather Details</h4>
      <p class="weather-details left-align">High/Low</p>
      <p class="weather-details right-align"><%= currentData.highTemp+"/"+currentData.lowTemp+" °C" %></p>
      <p class="weather-details left-align">Pressure</p>
      <p class="weather-details right-align"><%= currentData.pressure+" hPa" %></p>
      <p class="weather-details left-align">Humidity</p>
      <p class="weather-details right-align"><%= currentData.humidity+" %" %></p>
      <p class="weather-details left-align">Wind Speed</p>
      <p class="weather-details right-align"><%= currentData.windSpeed+" m/s"%></p>
      <hr>
    </div>

    <div class="forecast">
      <h4 class='forecast-heading'>Three Hour Forecast</h4>
      <% forecastData.forEach(function(item){ %>
        <div class="three-hour-forecast">
          <p class="forecast_p"><%=  item.time  %></p>
          <img src=<%= item.iconURL %> alt="">
          <p class="forecast_p"><%= item.temperature+"°C" %></p>
          <p class="forecast_p"><%= item.description %></p>
        </div>
      <% }) %>
    </div>
    <script src="index.js"></script>
  </body>
</html>
